<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/jpa</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgres</property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->

		<!-- Configuração do C3P0 // Database Connection Pooling for use in Production -->
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.min_size">2</property>
		<property name="hibernate.c3p0.timeout">5000</property>
		<property name="hibernate.c3p0.max_statements">10</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.generate_statistics">false</property>
		<property name="hibernate.use_sql_comments">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- Create, Drop and re-create, or Update the database schema on startup -->
		<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!--  <property name="hibernate.hbm2ddl.auto">create-drop</property> -->

		<mapping class="br.com.unipampa.model.entity.Usuario" />
		<mapping class="br.com.unipampa.model.entity.Imovel" />
		<mapping class="br.com.unipampa.model.entity.ImovelCompleto" />
		<mapping class="br.com.unipampa.model.entity.ImovelVaga" />
		<mapping class="br.com.unipampa.model.entity.Inquilino" />
		<mapping class="br.com.unipampa.model.entity.Proprietario" />
		<mapping class="br.com.unipampa.model.entity.Locatario" />
		<mapping class="br.com.unipampa.model.entity.Locador" />
		<mapping class="br.com.unipampa.model.entity.Quarto" />
		<mapping class="br.com.unipampa.model.entity.Vaga" />
		<mapping class="br.com.unipampa.model.entity.InteresseVaga" />

	</session-factory>
</hibernate-configuration>
